@import "../../../../styles/breakpoints.scss";

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;

	> * {
		width: 100%;
	}

	> section {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	> .formActions {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 1rem 0;
		gap: 1rem;
		background-color: var(--color-neutral-background);
	}
}

@media (min-width: $breakpoint-desktop) {
	.container {
		> .formActions {
			padding: 1rem;
			position: sticky;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
