.container {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 400px;

	border: 2px solid var(--color-primary-500);
	border-radius: var(--border-container-radius);

	padding: 2rem;
}

.errorMessage {
	color: var(--color-system-error) !important;
	font-size: var(--fs-body-r) !important;
}

.formActions {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	button {
		margin-top: 2rem;
	}
}