.errorMessage {
	color: var(--color-system-error) !important;
	font-size: var(--fs-body-r) !important;
}

.formActions {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	button {
		margin-top: 2rem;
	}
}