@import "../../../styles/breakpoints.scss";

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5rem;

	background-color: var(--color-neutral-0);
	box-shadow: var(--box-shadow-bottom);
	border: 2px solid var(--color-primary-100);
	border-radius: var(--border-container-radius);
	padding: 0.5rem;

	> div {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	> div:first-of-type {
		> div {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
}

.green {
	color: var(--color-system-success);
}

.red {
	color: var(--color-system-error);
}

.yellow {
	color: var(--color-system-warning);
}

@media (min-width: $breakpoint-mobile) {
	.container {
		padding: 1rem;

		> div {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			> h3 {
				margin-right: 0.5rem;
			}
		}
	}
}
