:root {
	// Branded Colors
	--color-primary-700: #7E43CB;
	--color-primary-500: #9A67DD;
	--color-primary-100: #E1C8FF;
	--color-primary-50: #F9F5FF;

	// Neutral Colors
	--color-neutral-700: #000000;
	--color-neutral-500: #e2e2e2;
	--color-neutral-100: #DDDDDD;
	--color-neutral-50: #F3F3F3;
	--color-neutral-0: #FFFFFF;

	// Text Colors
	--color-font-700: #302C3D;
	--color-font-500: #504B5E;
	--color-font-100: #AAA5B1;

	// System Colors
	--color-system-error: #C63F3F;
	--color-system-success: #75DAD1;
	--color-system-warning: #CBB16F;

	// Background Colors
	--color-background-white: #FFFFFF;

	// Shadow Colors
	--color-shadow: #00000010;
}