:root {
	// Branded Colors
	--color-primary-700: #7e43cb;
	--color-primary-500: #9a67dd;
	--color-primary-100: #e1c8ff;
	--color-primary-50: #f9f5ff;

	// Neutral Colors
	--color-neutral-700: #000000;
	--color-neutral-500: #e2e2e2;
	--color-neutral-100: #dddddd;
	--color-neutral-50: #f3f3f3;
	--color-neutral-0: #ffffff;
	--color-neutral-background: #fbf9fb;

	// Text Colors
	--color-font-700: #302c3d;
	--color-font-500: #504b5e;
	--color-font-100: #aaa5b1;

	// System Colors
	--color-system-error: #c63f3f;
	--color-system-success: #75dad1;
	--color-system-warning: #cbb16f;

	// Background Colors
	--color-background-white: #ffffff;

	// Shadow Colors
	--color-shadow: #00000010;
}
