/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-caption: clamp(0.83rem, 0.15vi + 0.79rem, 0.91rem);
		--fs-body-s: clamp(0.91rem, 0.18vi + 0.87rem, 1.01rem);
		--fs-body-r: clamp(1rem, 0.22vi + 0.95rem, 1.13rem);
		--fs-body-l: clamp(1.1rem, 0.26vi + 1.04rem, 1.25rem);
		--fs-h3: clamp(1.21rem, 0.3vi + 1.14rem, 1.39rem);
		--fs-h2: clamp(1.33rem, 0.36vi + 1.25rem, 1.54rem);
		--fs-h1: clamp(1.46rem, 0.42vi + 1.37rem, 1.71rem);
	}
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-caption: 0.83rem;
		--fs-body-s: 0.91rem;
		--fs-body-r: 1rem;
		--fs-body-l: 1.1rem;
		--fs-h3: 1.21rem;
		--fs-h2: 1.33rem;
		--fs-h1: 1.46rem;
	}
	@media screen and (min-width: 1280px) {
		:root {
			--fs-caption: 0.91rem;
			--fs-body-s: 1.01rem;
			--fs-body-r: 1.13rem;
			--fs-body-l: 1.25rem;
			--fs-h3: 1.39rem;
			--fs-h2: 1.54rem;
			--fs-h1: 1.71rem;
		}
	}
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 100 900;
	src:
		url("/public/fonts/WorkSans-VariableFont_wght.ttf") format("woff"),
		url("/public/fonts/WorkSans-VariableFont_wght.ttf") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	font-style: italic;
	font-weight: 100 900;
	src:
		url("/public/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("woff"),
		url("/public/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("woff2");
	font-display: swap;
}
