/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-caption: clamp(0.79rem, -0.02vi + 0.79rem, 0.78rem);
		--fs-body-s: clamp(0.89rem, 0.08vi + 0.87rem, 0.94rem);
		--fs-body-r: clamp(1rem, 0.22vi + 0.95rem, 1.13rem);
		--fs-body-l: clamp(1.13rem, 0.39vi + 1.04rem, 1.35rem);
		--fs-h3: clamp(1.27rem, 0.61vi + 1.13rem, 1.62rem);
		--fs-h2: clamp(1.42rem, 0.89vi + 1.23rem, 1.94rem);
		--fs-h1: clamp(1.6rem, 1.26vi + 1.33rem, 2.33rem);
	}
}

/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-caption: 0.79rem;
		--fs-body-s: 0.89rem;
		--fs-body-r: 1rem;
		--fs-body-l: 1.13rem;
		--fs-h3: 1.27rem;
		--fs-h2: 1.42rem;
		--fs-h1: 1.6rem;
	}

	@media screen and (min-width: 1280px) {
		:root {
			--fs-caption: 0.78rem;
			--fs-body-s: 0.94rem;
			--fs-body-r: 1.13rem;
			--fs-body-l: 1.35rem;
			--fs-h3: 1.62rem;
			--fs-h2: 1.94rem;
			--fs-h1: 2.33rem;
		}
	}
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100 900;
	src: url('/public/fonts/WorkSans-VariableFont_wght.ttf') format('woff'),
		url('/public/fonts/WorkSans-VariableFont_wght.ttf') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 100 900;
	src: url('/public/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('woff'),
		url('/public/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('woff2');
	font-display: swap;
}