/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-caption: clamp(0.91rem, -0.03vi + 0.91rem, 0.89rem);
		--fs-body-s: clamp(0.95rem, 0.08vi + 0.93rem, 1rem);
		--fs-body-r: clamp(1rem, 0.22vi + 0.95rem, 1.13rem);
		--fs-body-l: clamp(1.05rem, 0.37vi + 0.97rem, 1.27rem);
		--fs-h3: clamp(1.1rem, 0.55vi + 0.98rem, 1.42rem);
		--fs-h2: clamp(1.16rem, 0.76vi + 0.99rem, 1.6rem);
		--fs-h1: clamp(1.22rem, 1.01vi + 0.99rem, 1.8rem);
	}
}

/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
	:root {
		--fs-caption: 0.91rem;
		--fs-body-s: 0.95rem;
		--fs-body-r: 1rem;
		--fs-body-l: 1.05rem;
		--fs-h3: 1.1rem;
		--fs-h2: 1.16rem;
		--fs-h1: 1.22rem;
	}

	@media screen and (min-width: 1280px) {
		:root {
			--fs-caption: 0.89rem;
			--fs-body-s: 1rem;
			--fs-body-r: 1.13rem;
			--fs-body-l: 1.27rem;
			--fs-h3: 1.42rem;
			--fs-h2: 1.6rem;
			--fs-h1: 1.8rem;
		}
	}
}