@import url("./colors.scss");
@import url("./fonts.scss");
@import url("./animation.scss");
@import url("./layouts.scss");
@import url("./breakpoints.scss");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Work Sans";
	margin: 0;
	background-color: rgb(251, 249, 251);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	all: unset;
}
button:focus-visible {
	outline: 2px solid #2563eb;
	outline-offset: 2px;
}

span {
	font-size: inherit;
}

.fs-i {
	font-style: italic;
}

.fw-b {
	font-weight: bold;
}

.fs-caption {
	font-size: var(--fs-caption);
}

.fs-s {
	font-size: var(--fs-body-s);
}

.fs-r {
	font-size: var(--fs-body-r);
}

.fs-l {
	font-size: var(--fs-body-l);
}

hr,
span,
label,
p,
h1,
h2,
h3,
h4,
h5 {
	color: var(--color-font-500);
}

p,
input,
textarea,
label,
select {
	font-size: var(--fs-body-r);
}

h3 {
	font-size: var(--fs-h3);
	font-weight: 600;
}

h2 {
	font-size: var(--fs-h2);
	font-weight: 600;
}

h1 {
	font-size: var(--fs-h1);
	font-weight: 600;
}

p,
h3,
h2,
h1 {
	margin: 0;
}

/* Scale site */
/* 2000px */
@media only screen and (min-width: 125rem) {
	html,
	body {
		font-size: 105%;
	}
}

/* 2400px */
@media only screen and (min-width: 150rem) {
	html,
	body {
		font-size: 110%;
	}
}

/* 2800px */
@media only screen and (min-width: 175rem) {
	html,
	body {
		font-size: 115%;
	}
}

/* 3200px */
@media only screen and (min-width: 200rem) {
	html,
	body {
		font-size: 120%;
	}
}

/* 3600px */
@media only screen and (min-width: 225rem) {
	html,
	body {
		font-size: 125%;
	}
}
