@import url("./colors.scss");
@import url("./fonts.scss");
@import url("./animation.scss");
@import url("./layouts.scss");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
	margin: 0;
}

main {
	margin: 0px .5rem;
	margin-top: var(--header-height);
	padding: 2rem 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

span {
	font-size: inherit;
}

.fs-i {
	font-style: italic;
}

.fw-b {
	font-weight: bold;
}

.fs-caption {
	font-size: var(--fs-caption);
}

.fs-s {
	font-size: var(--fs-body-s);
}

.fs-r {
	font-size: var(--fs-body-r);
}

.fs-l {
	font-size: var(--fs-body-l);
}


hr,
span,
label,
p,
h1,
h2,
h3,
h4,
h5 {
	color: var(--color-font-500);
}

input,
textarea,
label,
select {
	font-size: var(--fs-body-r);
}

h3 {
	font-size: var(--fs-h3);
}

h2 {
	font-size: var(--fs-h2);
}

h1 {
	font-size: var(--fs-h1);
}


/* Scale site */
/* 2000px */
@media only screen and (min-width: 125rem) {

	html,
	body {
		font-size: 105%;
	}
}

/* 2400px */
@media only screen and (min-width: 150rem) {

	html,
	body {
		font-size: 110%;
	}
}

/* 2800px */
@media only screen and (min-width: 175rem) {

	html,
	body {
		font-size: 115%;
	}
}

/* 3200px */
@media only screen and (min-width: 200rem) {

	html,
	body {
		font-size: 120%;
	}
}

/* 3600px */
@media only screen and (min-width: 225rem) {

	html,
	body {
		font-size: 125%;
	}
}