:root {
	--email-template-width: 590px;

	// App layout
	--header-height: 4rem;
	--footer-height: 4rem;
	--nav-width: 22.5rem;
	--main-content-max-width: 75rem;

	// Border radius
	--border-wrapper-radius: .5rem;
	--border-container-radius: 1rem;

	// Email Previewer Max Width
	--email-preview-max-width-desktop: 53.4375rem;
	--email-preview-max-width-mobile: 22.375rem;
}