:root {
	// App layout
	--header-height: 4rem;
	--mobile-footer-nav-height: 4rem;

	// Border radius
	--border-wrapper-radius: 0.5rem;
	--border-container-radius: 1rem;

	// Shadow
	--box-shadow-top: 0px -2px 8px 2px var(--color-shadow);
	--box-shadow-bottom: 0px 2px 8px 2px var(--color-shadow);
}
