:root {
	// App layout
	--header-height: 4rem;
	--footer-height: 4rem;
	--nav-width: 22.5rem;
	--main-content-max-width: 75rem;

	// Border radius
	--border-wrapper-radius: .5rem;
	--border-container-radius: 1rem;
}