LICENSE

# Ignore all node_modules and Python cache
**/node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local env
.venv/
**/.env

# Ignore VCS and IDE files
.git/
.gitignore
.vscode/
.vs/

# Ignore docker and compose config
.dockerignore
docker-compose*
Dockerfile*

# Allow dist folder for frontend
!src/frontend/dist/

# React router framework specific
.react-router

