**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/node_modules
LICENSE
README.md
src/frontend/node_modules/**
!src/frontend/dist/
!src/frontend/dist/**
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/