version: '3.9'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev.frontend
    volumes:
      - ./src/frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev
    
volumes:
  pgdata:
