@import "../../../styles/breakpoints.scss";

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 1rem;
	padding: 0.5rem;
	margin-bottom: 3rem;

	overflow-x: scroll;

	> li {
		width: 100%;
	}

	/* For WebKit browsers (Chrome, Safari, Edge) */
	&::-webkit-scrollbar {
		display: none;
	}

	/* For Firefox */

	scrollbar-width: none;
	/* hides scrollbar but still scrollable */
}

.floatingMenu {
	position: absolute;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;

	padding: 1rem 2rem;
	background-color: var(--color-neutral-0);
	z-index: 20;
}

@media (min-width: $breakpoint-desktop) {
	.floatingMenu {
		padding: 0.5rem 1rem 2rem 1rem;
		position: sticky;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: var(--color-neutral-0);
	}
}
