.amountWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	> * {
		width: 100%;
	}
}

.sourceWrapper {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	gap: 1rem;

	&:nth-child {
		width: 100%;
	}
}
