.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	width: 100%;
	padding: 0.5rem;
	border-radius: var(--border-wrapper-radius);
	background-color: var(--color-neutral-0);
	box-shadow: var(--box-shadow-bottom);

	> .content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex: 1;

		> p:first-of-type {
			font-size: var(--fs-body-l);
			font-weight: bold;
		}
		> p:last-of-type {
			font-size: var(--fs-body-r);
			color: var(--color-font-100);
		}
	}

	.actionsWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: 0.5rem;

		.active {
			color: var(--color-system-success);
		}
		.inactive {
			color: var(--color-system-error);
		}
	}
}
