.container {
	width: 100%;
	padding: 0.5rem;
	border-radius: var(--border-wrapper-radius);
	background-color: var(--color-neutral-0);
	box-shadow: var(--box-shadow-bottom);
	cursor: pointer;

	> p:first-of-type {
		font-size: var(--fs-body-l);
		font-weight: bold;
	}

	> p:last-of-type {
		font-size: var(--fs-body-r);
		color: var(--color-font-100);
	}
}
