.container {
	list-style-type: none;
	margin: 0;
	padding: 0;

	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0rem;

	border-bottom: 2px solid var(--color-primary-500);

	> li {
		display: block;

		padding: 0.5rem 1rem;
		border-radius: var(--border-wrapper-radius) var(--border-wrapper-radius) 0 0;
		background-color: var(--color-primary-50);

		font-size: var(--fs-body-s);
		color: var(--color-font-500);
		flex: 0 0 auto;
	}

	> li.selected {
		background-color: var(--color-primary-500);
		color: var(--color-neutral-0);
	}
}
