.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

.optionChip {
	border-radius: 1rem;
	padding: 0.25rem 0.5rem;
	background-color: var(--color-primary-100);
	color: var(--color-neutral-0);
	cursor: pointer;
	transition: background-color var(--animation-duration) var(--animation-timing);

	&:hover {
		background-color: var(--color-primary-500);
	}

	&.selected {
		background-color: var(--color-primary-500);
	}
}
