.container {
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 1rem;
	box-shadow: var(--box-shadow-bottom);
	border-radius: var(--border-container-radius);

	display: flex;
	flex-direction: column;
	gap: 1rem;

	> div:nth-child(2) {
		margin: auto;
	}
}
