.container {
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 1rem;
	box-shadow: var(--box-shadow-bottom);
	border-radius: var(--border-container-radius);

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.chartHeader {
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-primary-100);
}

.chartFooter {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

.optionChip {
	border-radius: 1rem;
	padding: 0.25rem 0.5rem;
	background-color: var(--color-primary-100);
	color: var(--color-neutral-0);
	cursor: pointer;
	transition: background-color var(--animation-duration) var(--animation-timing);

	&:hover {
		background-color: var(--color-primary-500);
	}

	&.selected {
		background-color: var(--color-primary-500);
	}
}
