.container {
	width: 100%;
	padding: 0.5rem;
	border-radius: var(--border-wrapper-radius);
	background-color: var(--color-neutral-0);
	box-shadow: var(--box-shadow-bottom);
	cursor: pointer;

	> p {
		margin-bottom: 0.5rem;
		font-size: var(--fs-body-l);
		font-weight: bold;
	}

	> div {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		> p,
		span {
			color: var(--color-font-100);
		}
	}
}
