.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;

	padding-bottom: .5rem;
	border-bottom: 1px solid var(--color-neutral-700);

	svg {
		cursor: pointer;
	}
}