.container {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    margin: 0 auto;
}

.preview {
    input {
        border: none;
        padding: 0;
        margin: 0;
        opacity: 1;
    }
}

.profileImage {
    width: 6rem;
    height: 6rem;
    background-color: var(--color-primary-100);
    border-radius: var(--border-wrapper-radius);
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}