.container {
	padding: 1rem;

	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 1rem;

	z-index: 100;
	background-color: var(--color-neutral-0);
	border: none;
	box-shadow: var(--box-shadow-bottom);

	&::backdrop {
		backdrop-filter: blur(1px);
	}
}

.dialogWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dialogHeader {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding-bottom: 1rem;

	border-bottom: 1px solid var(--color-neutral-100);

	> button {
		padding: 0.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}
