.container {
	width: 100%;
	position: fixed;
	top: 0;
	height: var(--header-height);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary-500);
	padding: 1rem;
	box-shadow: var(--box-shadow-bottom);
}

.container menu {
	display: flex;
	align-items: center;
	justify-content: center;
}