.container {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 3.3125rem;

	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-primary-100);

	> div {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	&.active {
		&.filters {
			min-height: 0px;
			max-height: 110rem;
			transition: max-height var(--animation-duration) var(--animation-timing);
		}
	}
}
