@import "../../../styles/breakpoints.scss";

.container {
	position: fixed;
	top: var(--header-height);
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5rem;
	padding: 1rem;
	background-color: white;

	transform: translateX(-100%);
	transition: transform var(--animation-duration) var(--animation-timing);
	z-index: 100;

	> h2 {
		margin-bottom: 0.5rem;
	}

	> h3 {
		width: 100%;
		padding-bottom: 0.5rem;
		border-bottom: 1px solid var(--color-primary-100);
	}

	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0rem 1rem 1rem 1rem;

		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 0.5rem;
	}

	li {
		width: 100%;
		border-radius: var(--border-wrapper-radius);
		transition: background-color var(--animation-duration) var(--animation-timing);
		cursor: pointer;

		&:hover {
			background-color: var(--color-primary-100);
		}

		a {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 0.5rem;
			gap: 0.25rem;

			svg {
				fill: var(--color-font-500);
				transition:
					fill var(--animation-timing) var(--animation-duration),
					color var(--animation-timing) var(--animation-duration);
			}

			span {
				transition: color var(--animation-timing) var(--animation-duration);
			}
		}

		a.active {
			svg {
				fill: var(--color-primary-500);
				color: var(--color-primary-500);
			}

			span {
				color: var(--color-primary-500);
			}
		}
	}

	li:has(> a.active) {
		background-color: var(--color-primary-100);
	}
}

.open {
	transform: translateX(0%);
}

@media (min-width: $breakpoint-desktop) {
	.container {
		padding-top: 1.55rem;
		position: relative;
		transform: translateX(0%);
		min-width: var(--sidebar-desktop-width);
		border-right: 1px solid var(--color-primary-100);
		box-shadow: var(--box-shadow-right);
		height: calc(100vh - var(--header-height));
	}
}
