@import "../../../styles/breakpoints.scss";

.row {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;

	> * {
		flex: 1;
	}
}

.chartRow {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0.5rem;

	> * {
		flex: 1;
	}

	&:last-child {
		max-height: 20rem;
	}
}

@media (min-width: $breakpoint-desktop) {
	.row {
		gap: 1rem;
	}

	.chartRow {
		gap: 1rem;
	}
}
