@import "../../../styles/breakpoints.scss";

.row {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;
}

.center {
	margin: 0 auto;
}

@media (min-width: $breakpoint-desktop) {
	.row {
		gap: 1rem;
	}
}
