.container {
	width: 100%;
	padding: 0.5rem;
	border-radius: var(--border-wrapper-radius);
	background-color: var(--color-neutral-0);
	box-shadow: var(--box-shadow-bottom);

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;

	p {
		color: var(--color-font-100);
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex: 1;
	}

	.actionsWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: 0.5rem;
	}
}
