@import "../../../styles/breakpoints.scss";

.row {
	width: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;

	> * {
		flex: 1;
	}
}

.chartRow {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
	min-height: 21.5rem;
}
