.filters {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;

	padding: 1rem;
	background-color: var(--color-primary-50);
	border-radius: var(--border-wrapper-radius);
}
