.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;

	> div {
		width: 0.75rem;
		height: 0.75rem;
		background-color: var(--color-primary-500);
		border-radius: 50%;
		animation: loading 1s infinite;
		animation-delay: var(--delay, 0s);
	}

	> div[data-delay="0"] {
		--delay: 0s;
	}
	> div[data-delay="1"] {
		--delay: 0.15s;
	}
	> div[data-delay="2"] {
		--delay: 0.3s;
	}
}

@keyframes loading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
