.tasks {
	width: 100%;

	h1,
	h2,
	h3 {
		margin-bottom: 1rem;
	}

	div {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		column-gap: 0.5rem;
		row-gap: 0.25rem;
		flex-wrap: wrap;

		> * {
			width: 100%;
			max-width: calc(50% - 0.5rem);
		}
	}
}
