.tasks {
	width: 100%;

	h1,
	h2,
	h3 {
		margin-bottom: 1rem;
	}

	div {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		> * {
			width: 100%;
		}
	}
}
