# name: Deploy Staging

# on:
#   push:
#     branches: 
#       - main

# env:
#   # Always available in Github 
#   GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     env:
#       COMMIT_SHA: ${{ github.sha }}
#       POSTGRES_DB: mydb
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_HOST: db
#       POSTGRES_PORT: 5432
#       DJANGO_SECRET_KEY: django-secret-key
#       DEBUG_MODE: False

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Build docker images
#         run: |
#           docker-compose -f docker-compose.yml build

#       # Add steps to run & test

#       - name: Install doctl
#         uses: digitalocean/action-doctl@v2
#         with:
#           token: ${{ secrets.REGISTRY_ACCESS_TOKEN }}

#       - name: DOCR Login
#         run: doctl registry login --expiry-seconds 600

#       - name: Tag images as staging
#         run: | 
#           docker tag nginx:ci-${{ env.COMMIT_SHA }} ${{ secrets.REGISTRY_NAME }}/nginx:staging
#           docker tag backend:ci-${{ env.COMMIT_SHA }} ${{ secrets.REGISTRY_NAME }}/backend:staging
      
#       - name: Push images to registry
#         run: | 
#           docker push ${{ secrets.REGISTRY_NAME }}/nginx:staging
#           docker push ${{ secrets.REGISTRY_NAME }}/backend:staging
